<%= form_for(@recipe) do |f| %>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :cuisine %><br>
    <%= f.text_area :cuisine %>
  </p>

  <p>
    <%= f.label :course_type %><br>
    <%= f.select :course_type, [params[:type]] + @types.keep_if {|x| x != params[:type]}%>
  </p>

  <p>
    <%= f.label :time %><br>
    <%= f.text_area :time %>
  </p>

  <p>
    <%= f.label :difficulty_level %><br>
    <%= f.select :difficulty_level, [1, 2, 3, 4, 5], :prompt => 'Select One' %>
  </p>

  Ingredients:


    <%= f.fields_for :ingredients do |ingredients_form| %>
    <ul>
      <li>
        <%= ingredients_form.label :item %>
        <%= ingredients_form.text_field :item %>

        <%= ingredients_form.label :amount %>
        <%= ingredients_form.text_field :amount %>

        <%= ingredients_form.label :metric %>
        <%= ingredients_form.text_field :metric %>
      </li>
    </ul>
  <% end %>
  <%= link_to '+ Add Ingredient', new_ingredient_path %>
 <!--  recipes/:recipe_id/ingredients/new -->

  <p>
    <%= f.label :instructions %><br>
    <%= f.text_area :instructions %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
