<%= form_for[(@recipe, @ingredient)] do |f| %>
  <p>
    <%= f.label :item %><br>
    <%= f.text_field :item %>
  </p>

  <p>
    <%= f.label :amount %><br>
    <%= f.text_area :amount %>
  </p>

  <p>
    <%= f.label :metric %><br>
    <%= f.text_area :metric %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
